.row{
    padding : 10px 0px;
    margin: 0px;
}
.graph-name{
    border-left: 5px solid #fd5f04;
    padding : 5px;
}
.my-select{
    /* padding: 5px 8.6px 6px 6px; */
    border-radius: 10px;
    background-color: #d6e7ed;
    padding: 4px;
    font-size: 10px;
}
/* .table-div{
    width: 100%;
} */
.table-row, .punchpoint-div, .flex-div{
    display: flex;
}
.table-row:nth-child(even){
    background-color: #edf2f7;
}
.a{
    text-align: center;
    width: 50%;
    padding : 5px 0px;
}
.head{
    color: #fd5f04;
}
.graph-main-div{
    padding: 5px;
}
.graph-div, .table-div, .graph-in{
    padding: 5px 10px;
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11);
    border: solid 0.5px #dde4eb;
    background-color: #fff;
}
.graph{
    padding: 5px 10px;
}
.punchpoint{
    width: 60px;
    /* height: 55px; */
    margin: 0 6.5px 0 0;
    padding: 13px 0 0;
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11);
    border: solid 0.5px #dde4eb;
    background-color: #fff;
}
.pn-no{
    text-align: center;
    font-size: 20px;
}
.pn-cir{
    text-align: center;
    margin: 10px 0px;
}
.my-card {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0 20px;
    /* width: 280px; */
    /* height: 350px; */
    border-radius: 5px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  }
  
  .my-card .percent {
    position: relative;
  }
  
  .my-card svg {
    position: relative;
    width: 105px;
    height: 105px;
    transform: rotate(-90deg);
  }
  
  .my-card svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 10;
    stroke-linecap: round;
  }
  
  .my-card svg circle:last-of-type {
    stroke-dasharray: 160px;
    stroke-dashoffset: calc(160px - (160px * var(--percent)) / 100);
    stroke: #3498db; 
  }
  
  .my-card .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .my-card .number h4 {
    font-weight: 200;
    font-size: 1.5rem;
  }
  
  .my-card .number h4 span {
    font-size: 1rem;
  }
  
  .my-card .title h3 {
    /* margin: 25px 0 0; */
    text-align: center;
  }
  
  .my-card:nth-child(2) svg circle:last-of-type {
    stroke: #f39c12;
  }
  
  .my-card:nth-child(1) svg circle:last-of-type {
    stroke: #2ecc71;
  }

  .Fail{
    color: #f39c12;
  }
  .Pass{
    color: #2ecc71;
  }
  .Pending{
    color: #3498db;
  }
  .pd-0{
    padding: 0px;
  }
  